{% extends "base.html" %}

{% block title %}Community Clean-Up Details{% endblock %}

{% block content %}
    <header>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/upcomming_events.css' %}">
    </header>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-success text-white">
            <h1 class="card-title text-center">{{ event.title }}</h1>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Description:</strong> {{ event.description }}</p>
            <p class="card-text"><strong>Date:</strong> {{ event.date }}</p>
            <p class="card-text"><strong>Time:</strong> {{ event.time }}</p>
            <p class="card-text"><strong>Location:</strong> {{ event.location }}</p>
            <p class="card-text"><strong>Organizer:</strong> {{ event.organizer }}</p>
            <p class="card-text"><strong>Contact Email:</strong> <a href="mailto:{{ event.contact_email }}">{{ event.contact_email }}</a></p>
        </div>
        <div class="card-footer text-center">
            <a class="btn btn-lg btn-success" href="{% url 'community-cleanup-rsvp' event.pk %}">Register for this Event</a>
        </div>
    </div>
</div>
{% endblock %}
