{% extends "base.html" %}

{% block title %}Event Details{% endblock %}

{% block content %}
  <h1 class="text-center">{{ event.title }}</h1>
  <p><strong>Description:</strong> {{ event.description }}</p>
  <p><strong>Type:</strong> {{ event.get_event_type_display }}</p>
  <p><strong>Date:</strong> {{ event.date }}</p>
  <p><strong>Time:</strong> {{ event.time }}</p>
  <p><strong>Location:</strong> {{ event.location }}</p>
  <p><strong>Organizer:</strong> {{ event.organizer }}</p>
  <p><strong>Contact Email:</strong> {{ event.contact_email }}</p>

  <h2 class="mt-4">RSVP</h2>
  <a class="btn btn-success" href="{% url 'rsvp-create' event.pk %}">RSVP for this Event</a>
  <ul class="list-group mt-3">
    {% for rsvp in event.rsvps.all %}
      <li class="list-group-item">{{ rsvp.user.username }} - {{ rsvp.number_of_participants }} participants</li>
    {% endfor %}
  </ul>
{% endblock %}
