{% extends "base.html" %}

{% block title %}Community Clean-Up Events{% endblock %}

{% block content %}
  <h1 class="text-center">Community Clean-Up Events</h1>
  <ul class="list-group">
    {% for event in events %}
      <li class="list-group-item">
        <a href="{% url 'community-cleanup-detail' event.pk %}">{{ event.title }}</a> - {{ event.date }}
      </li>
    {% endfor %}
  </ul>
  <div class="mt-4 text-center">
    <a class="btn btn-success" href="{% url 'community-cleanup-create' %}">Create New Community Clean-Up Event</a>
  </div>
{% endblock %}
