{% extends "base.html" %}

{% block title %}Create Recycling Workshop Event{% endblock %}

{% block content %}
<header>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/upcomming_events.css' %}">
</header>
<div class="container my-4">
    <div class="card">
        <div class="card-header bg-success text-white">
            <h1 class="card-title text-center">Create New Recycling Workshop Event</h1>
        </div>
        <div class="card-body">
            <form method="post" class="list-card">
                {% csrf_token %}
                <div class="list-card-body">
                    {{ form.as_p }}
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a class="btn btn-secondary" href="{% url 'recycling-workshop-list' %}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
