{% extends "base.html" %}

{% block title %}Recycling Workshop Events{% endblock %}

{% block content %}
  <h1 class="text-center">Recycling Workshop Events</h1>
  <ul class="list-group">
    {% for event in events %}
      <li class="list-group-item">
        <a href="{% url 'recycling-workshop-detail' event.pk %}">{{ event.title }}</a> - {{ event.date }}
      </li>
    {% endfor %}
  </ul>
  <div class="mt-4 text-center">
    <a class="btn btn-success" href="{% url 'recycling-workshop-create' %}">Create New Recycling Workshop Event</a>
  </div>
{% endblock %}
