{% extends 'base.html' %}

{% block title %}User Complaint{% endblock %}

{% block content %}
<div class="container mt-0 pt-3 pb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-success text-white">
                    <h2>User Complaint</h2>
                </div>
                <div class="card-body">
                    <form method="post" id="fs-frm" name="complaint-form" accept-charset="utf-8" action="#">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_name">Full Name</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            <label for="id_email">Email Address</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <label for="id_phone">Phone Number (Optional)</label>
                            {{ form.phone }}
                        </div>
                        <div class="form-group">
                            <label for="id_complaint">Complaint</label>
                            {{ form.complaint }}
                        </div>
                        <input type="hidden" name="_subject" id="email-subject" value="Complaint Form Submission">
                        <button type="submit" class="btn btn-success btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<style>
    .navbar-custom {
        background-color: #f8d7da; /* light red */
    }
    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link {
        color: #000; /* dark black */
        font-size: 1.2em; /* larger text */
        font-weight: bold; /* make the text bold */
    }

    .navbar-brand {
        font-size: 2.0em !important;
    }

    .navbar-custom .nav-link:hover {
        color: #555; /* slightly lighter on hover */
    }
    h2 {
        color: #000; /* dark black */
        font-size: 2.0em; /* larger text for the heading */
    }
    .form-group label {
        color: #000; /* dark black */
        font-size: 1.1em; /* larger text for the label */
    }
    .form-control {
        font-size: 1.1em; /* larger text for the form control */
    }
    .btn-success {
        background-color: #34a853;
        border: none;
        font-size: 1.2em;
        font-weight: bold;
    }
    .btn-success:hover {
        background-color: #2c8e41;
    }
    .card-footer a {
        color: #34a853;
        font-weight: bold;
    }
    .card-footer a:hover {
        color: #2c8e41;
    }
</style>
