<!-- infographics/templates/infographics/infographic_edit.html -->

{% extends 'base.html' %}

{% block title %}{{ form.instance.pk|yesno:"Edit Infographic,New Infographic" }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center pt-5 pb-5">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-success text-white">
                    <h2>{% if form.instance.pk %}Edit{% else %}New{% endif %} Infographic</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success btn-block">Save</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'infographic_list' %}" class="btn btn-link">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
