{% extends "base.html" %}
{% block title %}Recycling Guides{% endblock %}
{% block content %}
    <div class="container-fluid py-5">
<h1 class="mb-4 wow animate__animated animate__slideInLeft" data-wow-duration="1\s">Recycling Guides</h1>
<div class="row">
    {% for guide in guides %}
    <div class="col-md-4">
        <div class="card mb-4 wow animate__animated animate__jackInTheBox" data-wow-duration="1.5s">
            <img class="card-img-top" src="{{ guide.image.url }}" alt="{{ guide.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ guide.title }}</h5>
                <p class="card-text">{{ guide.description }}</p>
                <a href="{% url 'recycling_guide_detail' guide.pk %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    </div>
{% endblock %}
