{% extends 'base.html' %}

{% block content %}
<h1>{{ section.name }}</h1>
<p>{{ section.description }}</p>
<h2>Team Members</h2>
<ul class="team-members-list">
{% load static %}
    {% for member in section.team_members.all %}
    <li>
        <a href="{% url 'team_member_detail' member.pk %}">
            {% if member.image %}
            <img src="{{ member.image.url }}" alt="{{ member.user.username }}'s profile picture" class="profile-picture"/>
            {% else %}
            <img src="{% static 'default-profile.png' %}" alt="Default profile picture" class="profile-picture"/>  <!-- Default image -->
            {% endif %}
            {{ member.user.username }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
