{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/section_list.css' %}">

<h1 class="page-title">Sections</h1>

<div class="section-list">
    {% for section in sections %}
    <div class="section-card">
        <a href="{% url 'section_detail' section.pk %}" class="section-link">
            <h2>{{ section.name }}</h2>
            <p>{{ section.description|truncatewords:20 }}</p> <!-- Limit to 20 words -->
        </a>
    </div>
    {% endfor %}
</div>

<a href="{% url 'add_section' %}" class="add-section-link">Add New Section</a>

{% endblock %}
