{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/section_detail.css' %}">

    <div class="container-fluid py-5">
<div class="section-detail">
    <h1 class="section-title wow animate__animated animate__slideInUp" data-wow-duration="1s">{{ section.name }}</h1>
    <p class="section-description wow animate__animated animate__slideInUp" data-wow-duration="1s">{{ section.description }}</p>

    <h2 class="team-members-title wow animate__animated animate__slideInUp" data-wow-duration="1s">Team Members</h2>
    <ul class="team-members-list">
        {% for member in section.team_members.all %}
        <li class="team-member-item">
            <a href="{% url 'team_member_detail' member.pk %}" class="team-member-link">
                {% if member.image %}
                <img src="{{ member.image.url }}" alt="{{ member.user.username }}'s profile picture" class="profile-picture wow animate__animated animate__zoomIn" data-wow-duration="2s"/>
                {% else %}
                <img src="{% static 'default-profile.png' %}" alt="Default profile picture" class="profile-picture"/>
                {% endif %}
                <span class="team-member-name wow animate__animated animate__slideInUp" data-wow-duration="1s">{{ member.user.username }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}
