{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <!-- Link the new CSS file -->
    <link rel="stylesheet" href="{% static 'css/team_member_detail.css' %}">

    <div class="team-member-detail">
        <h1 class="page-title">{{ member.user.username }}</h1>
        
        <div class="profile-picture-container">
            {% if member.image %}
            <img src="{{ member.image.url }}" alt="{{ member.user.username }}'s profile picture" class="profile-picture" width="200" height="200"/>
            {% else %}
            <img src="{% static 'default-profile.png' %}" alt="Default profile picture" class="profile-picture" width="200" height="200"/>
            {% endif %}
        </div>

        <p class="member-bio">{{ member.bio }}</p>

        <h2>Contributions</h2>
        <ul class="contributions-list">
            {% for section in member.sections.all %}
            <li><a href="{% url 'section_detail' section.pk %}">{{ section.name }}</a></li>
            {% endfor %}
        </ul>

        <a href="{% url 'edit_team_member' member.pk %}" class="edit-link">Edit Team Member</a>
    </div>
{% endblock %}
