{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-success text-white">
                    <h2>Reset Password</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">Enter your email address to receive a link to reset your password.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success btn-block">Send Reset Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
