{% extends 'base.html' %}
{% block title %}Carbon Footprint Calculator{% endblock %}
{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/interactivetools.css' %}">
</head>
<div class="container-fluid mt-5">
    <h2>Carbon Footprint Calculator</h2>
    <p>Calculate your environmental impact and learn how to reduce it.</p>
    <form method="POST" action="{% url 'carbon_footprint_calculator' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="miles">Miles Driven per Week:</label>
            <input type="number" class="form-control" id="miles" name="miles" required>
        </div>
        <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
    <div class="mt-4">
        {% if carbon_footprint %}
        <h5>Your Estimated Carbon Footprint: {{ carbon_footprint.carbon_footprint }} kg CO2 per year</h5>
        <h6>Category: {{ category }}</h6>
        <h6>Suggestions to reduce your carbon footprint:</h6>
        <ul>
            {% for suggestion in suggestions %}
            <li>{{ suggestion }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
