{% extends 'base.html' %}

{% block title %}Forum Highlights{% endblock %}

{% block content %}
    <header>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/community_engagement.css' %}">
    </header>


<main>
    <div class="container-fluid py-3">
    <div class="my-4">
        <h1 class="text-center">Forum Highlights</h1>
        <a href="{% url 'highlight_thread_create' %}" class="create-thread-btn">Create New Thread</a>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="thread-list">
        {% for thread in threads %}
            <div class="card pt-2 pb-5">
                <div class="container">
                    <a href="{% url 'highlight_thread_detail' thread.id %}" class="thread-title"><b>{{ thread.title }}</b></a>
                    <p class="thread-snippet">{{ thread.snippet }}</p>
                    <small class="thread-meta">By {{ thread.created_by.username }} on {{ thread.created_at }}</small>
                </div>
                <a href="{% url 'highlight_thread_detail' thread.id %}" class="comment-btn">Add Comment</a>
            </div>
        {% endfor %}
    </div>
    </div>
</main>


    {% if request.GET.created %}
    <script>
        alert('Thread added successfully!');
    </script>
    {% endif %}

{% endblock %}
