{#<!-- templates/community_engagement/user_story_list.html -->#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>User Stories</title>#}
{#    {% load static %}#}
{#    <link rel="stylesheet" href="{% static 'css/upcomming_events.css' %}">#}
{#</head>#}
{#<body>#}
{#    <header>#}
{#        <h2>User Stories</h2>#}
{#    </header>#}
{#    <main>#}
{#        <ul>#}
{#            {% for story in stories %}#}
{#                <li>#}
{#                    <a href="#">{{ story.title }}</a>#}
{#                    <p>{{ story.content|truncatewords:30 }}</p>#}
{#                    <small>By {{ story.author.username }} on {{ story.created_at }}</small>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </main>#}
{#</body>#}
{#</html>#}
