{% extends 'base.html' %}

{% block title %}User Stories{% endblock %}

{% block content %}
<head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/community_engagement.css' %}">
</head>
<div class="container-fluid py-5">
<main>
  <h2 style="text-align: center" class="wow animate__animated animate__slideInUp" data-wow-duration="1s"">Welcome to User Stories</h2>
    <div class="row">
        {% for story in stories %}

        <div class="col-md-4">
            <div class="card mb-4 mt-4 wow animate__animated animate__jackInTheBox" data-wow-duration="1.5s">
                <div class="card-body p-0">
                    <div class="story_list custom-story-list p-2">
                    <h5 class="card-title">{{ story.title }}</h5>
                    <p class="card-text">{{ story.content|truncatewords:30 }}</p>
                    <a href="{% url 'user_story_detail' story.id %}" class="btn btn-success">Read More</a>
                    </div>
                </div>
            </div>
        </div>
            
        {% endfor %}
    </div>
</main>
</div>
{% endblock %}
