{% extends 'base.html' %}

{% block title %}User Stories{% endblock %}

{% block content %}


<main>
    <div class="row">
        
        {% for story in stories %}
            
        <div class="col-md-4 custom-story-list">
            <div class="card mb-4 mt-4">
                <div class="card-body">
                    <div class="story_list custom-story-list">
                    <h5 class="card-title">{{ story.title }}</h5>
                    <p class="card-text">{{ story.content|truncatewords:30 }}</p>
                    <a href="{% url 'user_story_detail' story.id %}" class="btn btn-success">Read More</a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Likes: {{ story.total_likes }} | Dislikes: {{ story.total_dislikes }}
                </div>
            </div>
        </div>
            
        {% endfor %}
    </div>
</main>
{% endblock %}
