{% extends "base.html" %}

{% block title %}
    Add Tip
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Add a New Tip</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-light-green mb-4">Submit</button>
    </form>
</div>
    <style>
    .btn-light-green {
        background-color: #2dbb2d;
        color: white;
    }
    .btn-light-green:hover {
        background-color: #0da60d;
        color: white;
    }
    </style>
    
{% endblock %}
