{% extends "base.html" %}

{% block title %}
    Quick Tips
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Get Recycling Tips</h1>
    <form method="get" class="mb-4">
        {{ form.as_p }}
        <input type="submit" class="btn btn-light-green btn-block w-50" value="Get Tips">
    </form>
    <a href="{% url 'quicktips:add_tip' %}" class="btn btn-light-green2 btn-block w-50 mb-4">Add a New Tip</a>

    {% if waste_choice_display %}
        <h2 class="mt-4">Tips for {{ waste_choice_display }}</h2>
        <ul class="list-group">
            {% if tips %}
                {% for tip in tips %}
                    <li class="list-group-item">{{ tip.description }}</li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">No tips available for this waste type.</li>
            {% endif %}
        </ul>
    {% endif %}
</div>
    
        <style>
    .btn-light-green {
        background-color: #2dbb2d;
        color: white;
    }
    .btn-light-green:hover {
        background-color: #0da60d;
        color: white;
    }
    
    .btn-light-green2 {
        background-color: #186718;
        color: white;
    }
    .btn-light-green2:hover {
        background-color: #053805;
        color: white;
    }
</style>
{% endblock %}
